/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, #root {
    text-align: center;
    color: white;
}

.centered {
    text-align: center;
}

